@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
  background-color: #ffe9d3;
}

select,input,textarea{
  border: 1px solid #130f0f;
  border-radius: 6px;
}

.active{
  background-color: rgb(107 114 128);
  color: black;
}

hr {
  border-color: black;
}
